<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card shadow-lg p-5" style="border-radius: 20px;">
        <div class="card-body">
          <h2 class="text-center mb-4">Seleccione el Día para su Cita</h2>

          <!-- Calendario de selección de fecha -->
          <div class="d-flex justify-content-center mb-4">
            <ngb-datepicker 
              [(ngModel)]="model" 
              (dateSelect)="onDateSelect($event)" 
              [dayTemplate]="customDayTemplate"
              class="custom-calendar">
            </ngb-datepicker>
          </div>

          <ng-template #customDayTemplate let-date="date" let-currentMonth="currentMonth">
            <span [ngClass]="{reservada: esFechaReservada(getFechaDesdeObjeto(date))}">
              {{ date.day }}
            </span>
          </ng-template>

          <!-- Fecha seleccionada -->
          <div class="text-center mt-3">
            <h4>Fecha seleccionada:</h4>
            <p class="lead" *ngIf="selectedDate">{{ selectedDate | date:'fullDate' }}</p>
            <p class="text-muted" *ngIf="!selectedDate">No ha seleccionado ninguna fecha.</p>
          </div>

          <!-- Horas disponibles -->
          <div *ngIf="selectedDate" class="mt-4">
            <h4 class="text-center">Seleccione una Hora:</h4>
            <div class="d-flex justify-content-center flex-wrap">
              <button 
                *ngFor="let hora of horasDisponibles" 
                (click)="seleccionarHora(hora)" 
                [class.active]="hora === horaSeleccionada"
                [class.reservada]="esHoraReservada(hora)" 
                class="btn btn-outline-primary m-2"
                [disabled]="esHoraReservada(hora)"> <!-- Deshabilitar si está reservada -->
                {{ hora }}
              </button>
            </div>
          </div>

          <!-- Botón para confirmar la cita -->
          <div class="text-center mt-4">
            <button 
              class="btn btn-primary btn-lg w-50" 
              (click)="confirmarCita(confirmModal)" 
              [disabled]="!selectedDate || !horaSeleccionada">
              Confirmar Cita
            </button>
          </div>
          
          <!-- Modal de confirmación -->
          <ng-template #confirmModal let-modal>
            <div class="modal-header">
              <h4 class="modal-title">Cita Confirmada</h4>
              <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
              ¡Cita confirmada, nos vemos!
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">Cerrar</button>
            </div>
          </ng-template>
